<h2><b>Choose your avatar</b></h2>

<table cellspacing="4">
  <tr>
    <td class="rounded panel">
      <% chunks = chunk_array(@avatars.sort, 4) -%>
      <table cellpadding="7">
      <% chunks.each do |chunk| -%>
        <tr>
        <% chunk.each do |avatar| -%>
           <td>
             <a href="/kata/start?dojo_id=<%= @dojo_id %>&kata_id=<%= @kata_id %>&avatar=<%= avatar %>">
               <img alt="<%=avatar-%>" 
                    class="avatar box" 
                    src="/images/avatars/<%=avatar.downcase-%>.jpg"
                    title="<%=avatar.humanize-%>"/>
               <img alt="<%=avatar-%>" 
                    class="avatar box" 
                    src="/images/avatars/<%=avatar.downcase-%>.jpg"
                    title="<%=avatar.humanize-%>"/>
             </a>
           </td>
        <% end -%>
        </tr>
      <% end -%>
      </table>    
    </td>
  </tr>
</table>
